*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.clr::after{
    content::"";
    display: table;
    clear: both;
}

body{
    
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.txt_center{
text-align: center;
}

.txt_right{
    text-align: right;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}


/*============== STYLING ==============*/
.content{
    background-color: yellow;
    height: 100%;
}